<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">

<servlet>
	<servlet-name>Listener</servlet-name>
	<servlet-class>servlets.Listener</servlet-class>
</servlet>

<servlet>
	<servlet-name>Authenticator</servlet-name>
	<servlet-class>servlets.Authenticator</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>Listener</servlet-name>
	<url-pattern>/servlet/Listener</url-pattern>
</servlet-mapping>

<servlet-mapping>
	<servlet-name>Authenticator</servlet-name>
	<url-pattern>/servlet/Authenticator</url-pattern>
</servlet-mapping>

</web-app>

